.container {
  background: #eeeeee;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  background: black;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.modal-container {
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding: 60px;
  width: 15%;
}

.modal-message {
  text-align: center;
}

.modal-footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn-primary {
  color: #fff;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px .8em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #07c;
}

.btn-primary:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn-primary:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btn-secundary {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px .8em;
}

.btn-secundary:hover,
.btn-secundary:focus {
  background-color: #5a6268;
}

.btn-secundary:focus {
  box-shadow: 0 0 0 4px rgba(78, 85, 91, .15);
}

.btn-secundary:active {
  background-color: #545b62;
  box-shadow: none;
}
